body{
    background-color: black;
}

.navbar-nav .nav-item .nav-link:hover {
    color: white;
}

.nav-contact:hover {
    color: lightgray;
}
.navbar{
    padding: 15px;
}

.navbar-brand{
    margin-left: 65px;
}

li{
    list-style-type: none;
}

a {
    text-decoration: none;
}

.card {
    position: relative;
    background-color: #f0f0f0; /* Default background color */
    border-radius: 8px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: darkgray;
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}
.card:hover {
    border-color: darkgray;
}

.Title{
    color: peachpuff;
    padding: 10px;
}

.card:hover .overlay {
    display: flex;
    padding: 15px;
}



